/* Tailwind v4 style */
@import "tailwindcss";
@import "./assets/styles/tokens.css";

@font-face {
  font-family: "Golden Arrow";
  src: url("./assets/fonts/Attic.otf") format("opentype"); /* note: fonts (not font), and a space before format() */
  font-weight: normal;
  font-style: normal;
}

::-webkit-scrollbar{
    display: none;
}