/* Tailwind v4 style */
@import "tailwindcss";
@import "./assets/styles/tokens.css";

@font-face {
  font-family: "Golden Arrow";
  src: url("./assets/fonts/Deathmatch-K71A7.ttf") format("truetype"); /* note: fonts (not font), and a space before format() */
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Labels";
  src: url("./assets/fonts/Umbara-AReLL.otf") format("opentype"); /* note: fonts (not font), and a space before format() */
  font-weight: normal;
  font-style: normal;
}


::-webkit-scrollbar{
    display: none;
}