@import 'tailwindcss';

@layer base {
    :root{
        /* colors */
        --ga-ink: #000000;
        --ga-ink-weak: #0b0b0b;
        --ga-gold: #FCA311;
        --ga-blue: #14213D;
        --ga-silver: #E5E5E5;
        --ga-frost-bg: rgba(255, 255, 255, 0.10);
        --ga-frost-border: rgba(255, 255, 255, 0.15);

        /* text fonts and size */
        --ga-header-fontSize: 5rem;
        --ga-navbar-fontSize: 1.75rem;
        --ga-label-fontSize: 1.17rem;
        --ga-title-fontSize: 4rem;

        /* margins */
        --ga-margin-top: 12rem;
        --ga-margin-left: 5rem;
        --ga-margin-leftSm: 1.5rem;
        

        /* styling for cards */
        --ga-card-w: 35rem;
        --ga-card-r: 1rem;
        --ga-card-gap: 6rem;
        

        /* effects */
        --ga-blur: 12px;

        /* header */
        --ga-header-h: 5.25rem;
    }
}