@import 'tailwindcss';

@layer base {
    :root{
        /* colors */
        --ga-ink: #000000;
        --ga-ink-weak: #959393;
        --ga-gold: #FCA311;
        --ga-gold-weak: #F0AD41CC;
        --ga-blue: #14213D;
        --ga-silver: #E5E5E5;
        --ga-frost-bg: rgba(66 66 66 / 0.31);
        --ga-frost-border: rgba(255 255 255 / 0.2);

        /* font sizes (largest -> smallest) */
        --ga-text-logo: 6rem;
        --ga-text-hero: 4rem;
        --ga-text-title: 3rem;
        --ga-text-subtitle: 2rem;
        --ga-text-body: 1.5rem;
        --ga-text-label: 1.25rem;

        /* spacing */
        --ga-space-sm: 1rem;
        --ga-space-md: 2rem;
        --ga-space-lg: 5rem;
        --ga-space-xl: 8rem;
        --ga-gutter: 1.5rem;
        --ga-gutter-lg: 3.5rem;
        --ga-page-top-sm: 10rem;
        --ga-page-top: 12rem;
        --ga-hero-top: 20rem;

        /* cards */
        --ga-card-r: 0.5rem;
        --ga-card-h: 42rem;
        --ga-card-w: 35rem;
        --ga-card-w-sm: 26.6rem;

        /* buttons */
        --ga-button-size: 2.5rem;

        /* effects */
        --ga-blur: 12px;

        /* header */
        --ga-header-h: 5.25rem;
    }
}
